.post-badge {
  /* background-color: gainsboro; */
  padding: 1px 5px;
  border-radius: 5px;
  margin: 0 5px;
}
.post-action {
  cursor: pointer;
  transition-duration: 0.3s;
}
.posts {
  max-width: 450px;
  margin: auto;
}
.row {
  margin: 0;
}
.responsive-img {
  width: 100%;
}
.profile-avatar {
  max-width: 50px;
}
.app-center {
  margin: auto;
}
.app-dropdown-content {
  top: 0;
}

.tabs .tab a {
	color: grey;
}
.tabs .indicator {
    background-color: rgb(12,70,161);
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: rgba(12,70,161,0.1);
	color: black;
}
.tabs .tab a:hover, .tabs .tab a.active {
	color: black;
}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(12,70,161);
    -webkit-box-shadow: 0 1px 0 0 rgb(12,70,161);
    box-shadow: 0 1px 0 0 rgb(12,70,161);
}